<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Austin Pool Information Website.</title>
</head>
<body>
<ol>
{%for i in range(0, len)%}

    <br>{{n1[i]}}</br>
{%endfor%}

</ol>

</body>
</html>